* {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100
}

.formulario {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

#btl {
    background-color: #3200e6;
    border: none; 
    color: white; 
    padding: 10px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 12px; 
    margin: 10px; 
    cursor: pointer; 
    border-radius: 5px;
  }  

  #btl:hover {
    background-color: rgb(4, 78, 107);
  }

  .input-valido {
    border-color: #4df553;
  }

  .input-invalido {
    border-color: #ff0000;
  }

#tip {
    background-color: #c20101;
    border: none; 
    color: white; 
    padding: 10px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 12px; 
    margin: 10px; 
    cursor: pointer; 
    border-radius: 5px;
}

#tip:hover {
    background-color: rgb(96, 238, 67);
}

.feedback-invalido {
    background-color: #c20101;
}